.schema_manager {
  justify-content: space-around;
  align-items: stretch;

  .directory {
    flex: 1;
    scrollbar-gutter: stable;
    overflow-y: auto;

    details {
      padding-left: 1rem;
      border-left: 1px solid var(--color-highlight);
    }

    .directory__filter {
      position: sticky;
      top: 0;
      display: flex;
      align-items: stretch;
      gap: 0.5rem;
      margin: 0 1rem;

      input {
        flex: 1;
        appearance: none;
        border: 0 none;
        border-radius: 0.25rem;
        padding: 0 1rem;
        color: white;
        box-shadow:
          0 0 2px rgba(0, 0, 0, 0.5),
          0 1px 2px rgba(16, 24, 40, 0.05);
        background-color: var(--color-highlight);
        line-height: 2.75rem;
        font-size: 0.875rem;
        outline: 0;
      }
    }

    .registry {
      order: 1;
      border-radius: 0.25rem;
      padding: 0.25rem 0.5rem;

      &.blue {
        background-color: blue;
      }
      &.red {
        background-color: red;
      }
      &.dark {
        background-color: brown;
      }
      &.purple {
        background-color: purple;
      }
      &.black {
        background-color: black;
      }
      &.turquoise {
        background-color: turquoise;
      }
    }
  }

  .registry_list {
    display: flex;
    flex-direction: column;

    select {
      overflow-y: auto;
      text-align: left;
      appearance: none;

      color: var(--color-text);
      background-color: var(--color-foreground);
      border: 1px solid transparent;
      cursor: pointer;
      outline: 0;
      text-decoration: none;
      line-height: normal;

      option {
        padding: 0 1rem;
      }
    }

    menu {
      display: flex;
      justify-content: space-around;
      gap: 0.5rem;
      padding: 0 1rem;
    }
  }
}
