.schema_manager {
  .directory {
    flex: 1;
    scrollbar-gutter: stable;
    overflow-y: auto;

    details {
      padding-left: 1rem;
      border-left: 1px solid var(--color-highlight);
    }

    summary:hover {
      background-color: hsl(210 40% 98% / 0.5);
    }

    .directory__filter {
      display: flex;
      gap: 0.5rem;

      input {
        flex: 1;
      }

      button {
        color: white;
        background-color: #916ce7;
        border-radius: 0.25rem;
        padding: 0.25rem 1rem;
        text-decoration: none;
        margin-right: 4px;
      }
    }

    .registry {
      order: 1;
      border-radius: 0.25rem;
      padding: 0.25rem 0.5rem;
      font-size: 12px;
      margin-left: 2px;

      &.blue {
        background-color: #30b8f6;
      }
      &.red {
        background-color: #661712;
      }
      &.dark {
        background-color: #98a2b3;
      }
      &.purple {
        background-color: #412476;
      }
      &.black {
        background-color: black;
      }
      &.turquoise {
        background-color: #0b7f86;
      }
      &.yellow {
        background-color: #ffd760;
      }
      &.light {
        background-color: var(--color-highlight);
      }
    }
  }

  .version summary {
    margin-bottom: 2px;
  }

  pre {
    font-size: 12px;
    line-height: 1.4;
    max-width: 800px;
    overflow-x: scroll;
  }

  .registry_list {
    display: flex;
    flex-direction: column;

    select {
      overflow-y: auto;
      text-align: left;
      appearance: none;
      border: 1px solid transparent;
      outline: 0;
      text-decoration: none;
      line-height: normal;
    }

    button,
    .button {
      color: white;
      background-color: #916ce7;
      border-radius: 0.25rem;
      padding: 0.25rem 1rem;
      text-decoration: none;
      margin-right: 4px;
    }

    button:disabled {
      background: #999999;
    }

    menu {
      display: flex;
    }
  }
}
