details.iglu {
  &[open] > summary .schema__name::before {
    display: inline-block;
    content: "";
    height: 1rem;
    width: 1rem;
    mask: url("lucide-static/icons/chevron-up.svg") no-repeat center;
    mask-size: cover;
    background-color: currentColor;
    margin-right: 0.25rem;
  }

  > .iglu__content {
    padding-left: 1rem;
    border-left: 1px solid var(--border-darker);
    margin-left: 0.5rem;
    padding-top: 1rem;
  }

  summary {
    align-items: baseline;
    padding-bottom: 0px;
    display: flex;
    gap: 1rem;
    cursor: pointer;

    .schema__name {
      margin-right: auto;
      color: var(--muted-foreground);
      font-size: 1rem;
      white-space: nowrap;
    }

    .iglu__status {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}

.iglu {
  flex: 1;

  summary > span {
    font-size: 0.75rem;
  }

  .iglu__validation {
    color: var(--success-foreground);
    background-color: var(--success);
    font-weight: 400;
    padding: 0.125rem 0.75rem;
    border-radius: 5rem;
    line-height: 1.25rem;
    font-size: 0.875rem;
    font-family: "Roboto";
    order: 1;
    user-select: none;
  }

  .iglu--valid {
    .iglu__validation {
      color: var(--success-foreground);
      background-color: var(--success);
    }
  }

  .iglu--unrecognised {
    .iglu__validation {
      background-color: var(--information);
    }
  }

  .iglu--invalid {
    .iglu__validation {
      color: var(--error-foreground);
      background-color: var(--error);
    }
  }
}

.event-payload {
  display: flex;
  flex-flow: column nowrap;
  border-radius: 0.5rem;
  border: 1px solid var(--border);
  background-color: var(--card);

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    padding-bottom: 0.75rem;
    background-color: var(--popover);
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    margin-bottom: 1rem;

    line-height: 1.25rem;

    > span {
      color: var(--muted-foreground);
      font-family: "Roboto", sans-serif;
      font-size: 0.875rem;
      font-weight: 500;

      > span {
        color: var(--foreground);
        font-size: 1rem;
        font-weight: 700;
      }
    }
  }

  h1 {
    &::before {
      content: "";
      display: inline-block;
      border-radius: 100%;
      height: 0.5em;
      width: 0.5em;
      margin-right: 0.5em;
    }

    color: var(--foreground);

    font-size: 1.125rem;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
  }

  &.destination-blue h1::before {
    background-color: #30b8f6;
  }
  &.destination-red h1::before {
    background-color: #661712;
  }
  &.destination-dark h1::before {
    background-color: #98a2b3;
  }
  &.destination-purple h1::before {
    background-color: #412476;
  }
  &.destination-black h1::before {
    background-color: black;
  }
  &.destination-turquoise h1::before {
    background-color: #0b7f86;
  }
  &.destination-yellow h1::before {
    background-color: #ffd760;
  }
  &.destination-light h1::before {
    background-color: #ddd;
  }

  main {
    margin: 0 2.5rem;
    padding-bottom: 4rem;

    dl.event-generic-summary,
    .event-fieldgroup dl,
    .event-fieldgroup > div {
      dt {
        font-weight: 400;
        font-size: 0.875rem;
        color: var(--muted-foreground);
        display: flex;
        align-items: center;

        svg {
          cursor: pointer;
          height: 0.75rem;
          opacity: 0.3;
        }

        &.pinned svg,
        &:hover svg {
          opacity: 1;
        }
      }

      dd {
        margin-bottom: 1rem;
        display: flex;
        justify-content: space-between;
      }

      > detail {
        padding-left: 1rem;
        border-left: 1px solid var(--color-highlight);
      }
    }

    ul {
      flex: 1;
      list-style: none;
      padding: 0;
    }
  }
}

dl.array,
dl.object {
  padding-left: 1rem;
  padding-top: 0.5rem;
  border-left: 1px solid var(--border-darker);
  margin-left: 0.5rem;
  flex: 1;
}

.event-fieldgroup {
  border-bottom: 1px solid var(--border);

  summary.title span {
    font-size: 1rem;
  }

  > summary.title::before {
    content: none;
  }

  > summary.title::after {
    display: inline-block;
    content: "";
    height: 1rem;
    width: 1rem;
    mask: url("lucide-static/icons/chevron-down.svg") no-repeat center;
    mask-size: cover;
    background-color: currentColor;
    margin-right: 0.25rem;
  }

  summary .schema__name::before {
    display: inline-block;
    content: "";
    height: 1rem;
    width: 1rem;
    mask: url("lucide-static/icons/chevron-down.svg") no-repeat center;
    mask-size: cover;
    background-color: currentColor;
    margin-right: 0.25rem;
  }

  &[open] span {
    font-size: 0.875rem;
  }

  &[open] > summary::after {
    mask: url("lucide-static/icons/chevron-up.svg") no-repeat center;
    mask-size: cover;
    color: white;
  }

  summary.title {
    justify-content: space-between;
  }

  summary {
    display: flex;
    align-items: center;
    color: var(--muted-foreground);
    padding: 0.75rem 0;

    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5rem;
  }

  .iglu__tabs-control {
    display: flex;
    background-color: var(--accent);
    border-radius: 0.25rem;
    padding: 0.25rem;
    gap: 0.25rem;
    width: fit-content;
    margin-bottom: 0.5rem;
  }

  .tab {
    position: relative;

    display: flex;

    align-items: center;
    justify-content: center;

    min-width: 6rem;
    padding: 0.125rem 1rem;
    background: transparent;
    border-radius: 0.25rem;
    margin: 0;

    font-weight: 500;
    color: var(--accent-foreground);

    cursor: pointer;
    transition: all 0.2s ease;

    @media (width <= 834px) {
      padding: 0.125rem 0;
    }
  }

  .tab input[type="radio"] {
    display: none;
  }

  .tab:hover {
    color: var(--muted-foreground);
  }

  .tab--active {
    background-color: var(--secondary);
    color: var(--secondary-foreground);
  }
}

.typeinfo {
  font-weight: 400;
  border-radius: 0.25rem;
  line-height: 1.25rem;
  font-size: 0.75rem;
  font-family: "Roboto";
  margin-left: 0.375rem;
  padding: 0 0.75rem;
  opacity: 75%;

  &:enabled:hover {
    color: white !important;
    opacity: 100%;
  }

  &.typeinfo--string:enabled {
    background-color: #d4c7eb;
    color: #2f1a55;
  }

  &.typeinfo--number:enabled {
    background-color: #b8e7fc;
    color: #012f44;
  }

  &.typeinfo--boolean:enabled {
    background-color: #ffeeba;
    color: #724204;
  }

  &.typeinfo--undefined:enabled,
  &.typeinfo--null:enabled {
    background-color: #f2f4f7;
    color: #1d2939;
  }

  &.typeinfo--object:enabled {
    background-color: #bce3e6;
    color: #042b2e;
  }

  &.typeinfo--array:enabled {
    background-color: #cde9ce;
    color: #05603a;
  }
}
