.debugger {
  justify-content: space-around;
  align-items: stretch;

  > .timeline {
    overflow-y: auto;
    resize: horizontal;
  }

  &__display {
    flex: 84;
    padding: 1.14283rem;
    display: flex;
    border-left: 1px solid hsl(var(--border));
    height: fit-content;
    flex-flow: column nowrap;
    align-items: stretch;
    gap: 1rem;

    &:after {
      content: " ";
      white-space: pre;
    }
  }
}
