.debugger {
  margin: 0;
  padding: 8px 16px;
  .debugger__display {
    flex: 84;
    margin: 1.5rem 1.5rem 1.5rem 0.5rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    gap: 1rem;

    &:after {
      content: " ";
      white-space: pre;
    }
  }
}
