.debugger {
  justify-content: space-around;
  align-items: stretch;

  > .timeline {
    overflow-y: auto;
    position: sticky;
    top: 1.5rem;
    margin: 1.5rem 0 1.5rem 1.5rem;
    resize: horizontal;
  }

  .debugger__display {
    flex: 84;
    margin: 1.5rem 1.5rem 1.5rem 0.5rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    gap: 1rem;

    &:after {
      content: " ";
      white-space: pre;
    }
  }
}
