.testreport {
  background-color: var(--color-contrast);
  border-radius: 0.25rem;

  & summary {
    font-family: "Inter Variable", sans-serif;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.25;
    padding: 1.5rem;
    color: var(--color-text-contrast);
  }

  &__desc {
    margin: 0;
    padding: 1rem;
    background-color: var(--color-foreground);
    border-radius: 0 0 0.25rem 0.25rem;
    white-space: pre-line;
  }

  > table {
    box-sizing: border-box;
    width: 100%;
    background-color: var(--color-foreground);
    border-radius: 0 0 0.25rem 0.25rem;
    border-collapse: collapse;
  }

  th {
    padding: 1.5rem;
    text-align: left;
  }

  td {
    padding: 0 1.5rem;
  }

  a {
    &:link,
    &:visited {
      color: inherit;
    }

    &:hover,
    &:active {
      color: var(--color-contrast);
    }
  }

  &__event {
    cursor: pointer;

    &:hover {
      background-color: var(--color-highlight);
    }
  }
}
