.timeline {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
  scrollbar-gutter: stable;
  overflow-x: clip;

  .timeline__events {
    scrollbar-gutter: stable;
    margin-right: -1rem;
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
    overflow-y: auto;
    gap: 0.5rem;
  }

  .timeline__controls {
    display: flex;
    flex-direction: column;

    svg {
      height: 1rem;
      width: 1rem;
    }

    > div {
      display: flex;
      gap: 0.25rem;
    }
  }
}

.event-group {
  display: flex;
  flex-flow: column nowrap;

  .event-group__heading {
    background-color: var(--color-contrast);
    color: var(--color-text-contrast);
    border-radius: 0.25rem 0.25rem 0 0;
    margin: 0;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-family: "Roboto";
    font-weight: 600;
  }

  .event {
    display: flex;
    align-items: center;
    background-color: var(--color-foreground);
    padding: 0.5rem 1rem;
    cursor: pointer;

    &.event--uncollected {
      color: red;
    }

    &:hover,
    &:active,
    &.event--active {
      background-color: var(--color-highlight);
    }

    &::before {
      content: "";
      display: inline-block;
      border-radius: 100%;
      height: 1em;
      width: 1em;
      margin-right: 0.5em;
    }

    .event--destination-blue::before {
      background-color: #30b8f6;
    }
    .event--destination-red::before {
      background-color: #661712;
    }
    .event--destination-dark::before {
      background-color: #98a2b3;
    }
    .event--destination-purple::before {
      background-color: #412476;
    }
    .event--destination-black::before {
      background-color: black;
    }
    .event--destination-turquoise::before {
      background-color: #0b7f86;
    }
    .event--destination-yellow::before {
      background-color: #ffd760;
    }
    .event--destination-light::before {
      background-color: var(--color-highlight);
    }

    .event--invalid::after {
      content: "\0026d4\00fe0f";
      float: right;
    }
  }

  .event:last-child {
    border-radius: 0 0 0.25rem 0.25rem;
  }
}
