.timeline {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
  scrollbar-gutter: stable;
  overflow-x: clip;

  &__events {
    scrollbar-gutter: stable;
    margin-right: -1rem;
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
    overflow-y: auto;
    gap: 0.5rem;
  }

  &__controls {
    display: flex;
    flex-direction: column;

    > div {
      display: flex;
      gap: 0.25rem;
      justify-content: space-between;
      white-space: nowrap;
      flex-wrap: wrap;

      select,
      button {
        flex: 1;
      }

      select {
        flex-basis: auto;

        option {
          margin: 0 auto;
          text-align: center;
        }
      }
    }

    input {
      display: block;
      width: 100%;
      appearance: none;
      border: 0 none;
      border-radius: 0.25rem;
      margin-top: 0.5rem;
      padding: 0 1rem;
      color: var(--color-text);
      box-shadow:
        0 0 2px rgba(0, 0, 0, 0.5),
        0 1px 2px rgba(16, 24, 40, 0.05);
      background-color: var(--color-highlight);
      line-height: 2.75rem;
      font-size: 0.875rem;
      outline: 0;
    }

    input::placeholder {
      color: #98a2b3;
    }
  }

  > .testsuite {
    padding-right: 1rem;
  }
}

.event-group {
  display: flex;
  flex-flow: column nowrap;

  &__heading {
    background-color: var(--color-contrast);
    color: var(--color-text-contrast);
    border-radius: 0.25rem 0.25rem 0 0;
    margin: 0;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-family: "Roboto";
    font-weight: 600;
  }

  .event {
    display: flex;
    align-items: center;
    background-color: var(--color-foreground);
    padding: 0.5rem 1rem;
    cursor: pointer;

    &.event--uncollected {
      color: red;
    }

    &:hover,
    &:active,
    &.event--active {
      background-color: var(--color-highlight);
    }

    &::before {
      content: "";
      display: inline-block;
      border-radius: 100%;
      height: 1em;
      width: 1em;
      margin-right: 0.5em;
    }

    &--destination-blue::before {
      background-color: blue;
    }
    &--destination-red::before {
      background-color: red;
    }
    &--destination-dark::before {
      background-color: brown;
    }
    &--destination-purple::before {
      background-color: purple;
    }
    &--destination-black::before {
      background-color: black;
    }
    &--destination-turquoise::before {
      background-color: turquoise;
    }
    &--destination-yellow::before {
      background-color: yellow;
    }
    &--destination-light::before {
      background-color: var(--color-highlight);
    }

    &--invalid::after {
      content: "\0026d4\00fe0f";
      float: right;
    }
  }

  .event:last-child {
    border-radius: 0 0 0.25rem 0.25rem;
  }
}
