// Colors
$bulma-black: hsl(0, 0%, 4%);
$black: var(--bulma-black, #{$bulma-black});
$bulma-black-bis: hsl(0, 0%, 7%);
$black-bis: var(--bulma-black-bis, #{$bulma-black-bis});
$bulma-black-ter: hsl(0, 0%, 14%);
$black-ter: var(--bulma-black-ter, #{$bulma-black-ter});

$bulma-grey-darker: hsl(0, 0%, 21%);
$grey-darker: var(--bulma-grey-darker, #{$bulma-grey-darker});
$bulma-grey-dark: hsl(0, 0%, 29%);
$grey-dark: var(--bulma-grey-dark, #{$bulma-grey-dark});
$bulma-grey: hsl(0, 0%, 48%);
$grey: var(--bulma-grey, #{$bulma-grey});
$bulma-grey-light: hsl(0, 0%, 71%);
$grey-light: var(--bulma-grey-light, #{$bulma-grey-light});
$bulma-grey-lighter: hsl(0, 0%, 86%);
$grey-lighter: var(--bulma-grey-lighter, #{$bulma-grey-lighter});

$bulma-white-ter: hsl(0, 0%, 96%);
$white-ter: var(--bulma-white-ter, #{$bulma-white-ter});
$bulma-white-bis: hsl(0, 0%, 98%);
$white-bis: var(--bulma-white-bis, #{$bulma-white-bis});
$bulma-white: hsl(0, 0%, 100%);
$white: var(--bulma-white, #{$bulma-white});

$text-invert: var(--bulma-text-invert, findColorInvert($bulma-grey-dark));

@use "sass:meta";
$old_darken: meta.get-function("darken");

$darkenings: ();

$darkenings: (
  $white + 2.5%: meta.call($old_darken, $bulma-white, 2.5%),
  $white + 5%: meta.call($old_darken, $bulma-white, 5%),
  $white + 10%: meta.call($old_darken, $bulma-white, 10%),
  $white-ter + 2.5%: meta.call($old_darken, $bulma-white-ter, 2.5%),
  $white-ter + 5%: meta.call($old_darken, $bulma-white-ter, 5%),
  $white-ter + 10%: meta.call($old_darken, $bulma-white-ter, 10%),
  $grey-darker + 2.5%: meta.call($old_darken, $bulma-grey-darker, 2.5%),
  $grey-darker + 5%: meta.call($old_darken, $bulma-grey-darker, 5%),
  $grey-darker + 10%: meta.call($old_darken, $bulma-grey-darker, 10%),
  $black + 2.5%: meta.call($old_darken, $bulma-black, 2.5%),
  $black + 5%: meta.call($old_darken, $bulma-black, 5%),
  $black + 10%: meta.call($old_darken, $bulma-black, 10%)
);

@function darken($color, $pct) {
  @return map-get($darkenings, meta.inspect($color) + $pct) or
    meta.call($old_darken, $color, $pct);
}

$box-shadow: 0 2px 3px var(--bulma-box-shadow, rgba($bulma-black, 0.1)),
  0 0 0 1px var(--bulma-box-shadow, rgba($bulma-black, 0.1));
$modal-background-background-color: var(
  --bulma-modal-background-background-color,
  rgba($bulma-black, 0.86)
) !default;
