@charset "utf-8";

@import "bulma.scss";

:root {
  height: 100vh;
  overflow: hidden;
}

body {
  background-color: ghostwhite;
  height: 100vh;
}

.column.timeline {
  overflow: auto;
}

.filterPanel {
  position: sticky;
  top: 0;
}

#filter {
  display: block;
  width: 100%;
}

.panel-block {
  background-color: $white;

  &.not-ok,
  &.not-ok.is-active {
    color: $red;
  }

  &.is-active .panel-icon.validity,
  & .panel-icon.validity {
    color: $red;
    flex-grow: 2;
    text-align: right;
  }
}

.panel-icon {
  font-size: inherit;
  margin-right: 0.45em;
}

.tile.is-ancestor {
  margin-top: 0 !important;
}

.section {
  padding: 1rem 0.75rem 3rem 1.5rem !important;
  height: 100%;
  overflow: auto;
}

.inspector {
  .tile {
    display: inline-table !important;
  }

  .card-content {
    padding-bottom: 0;
  }
}

.hide-rows .card-content {
  display: none;
}

#beacon {
  overflow: auto;
  padding: 1rem;
}

.iglu {
  &.invalid > footer > .validation,
  #filter.invalid {
    background-color: $red;
    color: findColorInvert($red);
  }

  &.valid > footer > .validation {
    color: $green;
  }

  & > footer > .validation {
    cursor: pointer;
  }
}

textarea.card-footer-item {
  resize: none;
}

$colors: (
  "blue": $cyan,
  "red": $orange,
  "dark": $grey-dark,
  "purple": $purple,
  "yellow": $yellow,
  "black": $black,
  "light": $white-ter,
  "turquoise": $turquoise
);

@each $class, $color in $colors {
  .#{$class} .panel-icon,
  .panel-block.#{$class}.is-active .panel-icon {
    color: #{$color};
  }
}
