@charset "utf-8";

* {
  box-sizing: inherit;
}

:root {
  display: flex;
  box-sizing: border-box;
  height: 100%;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-self: stretch;
  background-color: #1d2939;
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
}

button {
  padding: .375em .75em;
  border-radius: 0.25rem;
  color: white;
  background-color: #344054;
  border: 1px solid transparent;
}

.toolbar {
  display: flex;
  align-items: center;
  height: 4rem;
  padding: 1rem 0;
  background-color: #101828;

  &__logo {
    padding: 1rem 1.5rem;
    & img {
      max-height: 1.75rem;
      max-width: 100%;
      height: 2rem;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}

.app {
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex: 1;
  justify-content: space-between;
}
