@charset "utf-8";

@import "bulma-overrides.scss";
@import "dark";
@import "bulma.scss";

:root {
  height: 100vh;
  overflow: hidden;
}

body {
  background-color: $white-ter;
  height: 100vh;
}

select,
textarea,
input {
  background-color: inherit;
  color: inherit;
}

.panel.testsuites summary {
  cursor: pointer;
  width: 100%;
}

.panel.testsuites .panel-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.panel.testsuites .panel-heading button {
  margin: -1em 0;
}

.panel.testsuites .panel-block,
.panel.testsuites .panel-block summary {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

input[type="file"] {
  color: transparent;
  max-width: 5rem;
}

input[type="file"]:before {
  color: $grey-darker;
  content: "Import";
  text-align: center;
  display: block;
}

input[type="file"][webkitdirectory] {
  max-width: 9rem;
}

input[type="file"][webkitdirectory]:before {
  content: "Import Directory";
}

input[type="file"]::file-selector-button {
  display: none;
}

.column.timeline {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
}

.timeline__events {
  overflow: auto;
  flex: 4 1 auto;
}

.filterPanel {
  position: sticky;
  top: 0;
  z-index: 1;
}

#filter {
  display: block;
  width: 100%;
}

.panel-block {
  background-color: $white;

  &.not-ok,
  &.not-ok.is-active {
    color: $red;
  }

  &.is-active .panel-icon.validity,
  & .panel-icon.validity {
    color: $red !important;
    flex-grow: 2;
    text-align: right;
  }
}

.panel-icon {
  font-size: inherit;
  margin-right: 0.45em;
  align-self: center;
}

.tile.is-ancestor {
  margin-top: 0 !important;
}

.section {
  padding: 1rem 0.75rem 3rem 1.5rem !important;
  height: 100%;
  overflow: auto;
}

.inspector {
  .tile {
    display: inline-table !important;
  }

  .card-content {
    padding-bottom: 0;
  }
}

.hide-rows .card-content {
  display: none;
}

#beacon,
#testdetail {
  overflow: auto;
  padding: 1rem;
}

#beacon .dropdown {
  align-self: start;
  border-radius: 10em;
  position: fixed;
  bottom: 1em;
  z-index: 1;
}

#beacon .dropdown-trigger {
  margin: auto;
}

.iglu {
  &.invalid > footer > .validation,
  #filter.invalid {
    background-color: $red;
    color: findColorInvert($red);
  }

  &.valid > footer > .validation {
    color: $green;
  }

  & > footer > .validation {
    cursor: pointer;
  }
}

textarea.card-footer-item {
  resize: none;
}

#testdetail pre {
  white-space: pre-wrap;
}

$colors: (
  "blue": $cyan,
  "red": $orange,
  "dark": $grey-dark,
  "purple": $purple,
  "black": $black,
  "turquoise": $turquoise,
);

@each $class, $color in $colors {
  .#{$class} .panel-icon.identifier,
  .panel-block.#{$class}.is-active .panel-icon.identifier {
    background-color: #{$color};
    border-radius: 100%;
  }

  summary > .registry.#{$class} {
    background-color: #{$color};
    color: $bulma-white;
  }
}

summary > .registry {
  border-radius: 2px;
  font-size: 0.75em;
  padding: 0.1em 0.5em;
  margin: 0 0.1em;
}

.directory.column {
  overflow-y: auto;
}

.directory details[open] > details {
  padding-left: 1em;
  border-width: 3px;
}

.directory summary {
  cursor: pointer;
}

.directory textarea {
  display: block;
  width: 100%;
}

.registries {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.registries > select,
.registries > select:focus-visible {
  border: 0;
  outline: 0;
  overflow-y: auto;
  font-size: inherit;
}

.registries .registry {
  padding: 1em 0;
}

.registries menu {
  display: flex;
  justify-content: space-around;
}

.registry.waiting {
  color: $grey-light;
}

.registry.unhealthy {
  color: $red;
}

.registry::before {
  display: inline-block;
  padding-right: 0.5em;
}
.registry.local::before {
  content: "💿";
}
.registry.ds::before {
  content: "📈";
}
.registry.static::before {
  content: "🪣";
}
.registry.iglu::before {
  content: "🧊";
}

.registry-import select,
.registry-import textarea,
.registry-delete select,
.registry-definition select,
.registry-definition div.select,
.registry-definition textarea {
  display: block;
  width: 100%;
  margin-bottom: 1em;
}

output[name="registry-status"] {
  display: block;
  font-weight: normal;
}
