.console_info {
  display: flex;
  flex-flow: column nowrap;

  align-items: center;
  justify-content: end;
  gap: 0.5rem;

  margin: 0.5rem 1.04rem;

  @media (width <= 834px) {
    margin: 0.5rem 0;
  }

  &.collapsed {
    margin: 0.5rem 0;

    button.console {
      gap: 0;
      font-size: 0;
      padding: 0.25rem 0.5rem;
    }

    .toolbar__logo {
      font-size: 0;

      img {
        margin: 0;
      }
    }
  }

  .profile {
    line-height: 0;

    img {
      clip-path: circle(44%);
    }
  }

  img {
    max-height: 2rem;
  }

  .toolbar__logo {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;

    img {
      margin-right: 0.25rem;
      height: 1.4rem;
    }

    @media (width <= 834px) {
      font-size: 0;

      img {
        margin: 0;
      }
    }
  }

  button.console {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;

    padding: 0.5rem 1rem;
    background-color: var(--primary);
    color: var(--primary-foreground);

    @media (width <= 1280px) {
      gap: 0;
      font-size: 0;
    }

    @media (width <= 834px) {
      padding: 0.25rem 0.5rem;
    }

    img {
      height: 1rem;
    }
  }
}

[popovertarget="consolestatus-po"] {
  background-color: unset;
  border: 0;

  &:enabled:hover,
  &:enabled:active,
  &:enabled:focus {
    border: none;
    background-color: unset;
    outline: none;
  }
}

#consolestatus-po {
  position-area: top;
  translate: 10%;

  li:last-child {
    padding-top: 0.875rem;
    padding-bottom: 0.875rem;
    border-top: 1px solid var(--border);
    margin-top: 0.25rem;
  }
}
