@use "~@fontsource/rubik/latin-400" as *;
@use "~@fontsource/roboto/latin-400" as *;
@use "~@fontsource/roboto/latin-500" as *;

* {
  box-sizing: inherit;
  font-family: inherit;
}

:root {
  display: flex;
  box-sizing: border-box;
  height: 100%;
  font-size: 0.875em;
  color: var(--color-text);

  --color-text: rgb(16, 24, 40);
  --color-text-light: rgb(102, 112, 133);
  --color-text-contrast: white;
  --color-background: rgb(242, 244, 247);
  --color-foreground: white;
  --color-highlight: rgb(212, 199, 235);
  --color-interactive: rgb(212, 199, 235);
  --color-highlight-layered: rgb(212, 199, 235);
  --color-contrast: #6738b8;

  &.themedark {
    --btn-hover: #ffffff26;
    --btn-clicked: #ffffff40;
    --text-standard: #ffffffb2;
    --icon-default: #ffffffb3;
    --icon-disabled: #ffffff4d;
    --tab-hover: #004178;
    --newtabl-btn-hover: #004a78;
    --newtab-btn-clicked: : #004a78;
    --close-btn-hover: #ffffff40;
    --close-btn-clicked: #ffffff47;
    --divider: #ffffff1d;
    --search-btn-icon: #ffffff;
    --search-btn-surface: #3c3c3c;
    --search-btn-hover: #595959;
    --favorite-icon-active: #659df6;
    --favorite-btn-hover: #ffffff26;
    --searchbar-surface: #1f2020;
    --searchbar-hover: #4a4a4a;
    --text-searchbar: #ffffffe6;
    --surface-1: #1f2020;
    --surface-2: #3c3c3c;
    --stroke: #ffffff1f;
    --toggle-background: #3d4043;
    --toggle: white;

    --muted-foreground: #999999;
    --border: #232323;
    --foreground: #e6e6e6;
    --secondary-foreground: #e6e6e6;
    --secondary: #000000;
    --popover: #101010;
    --card: #191919;
    --chart_2: #65bfc5;

    --color-text: white;
    --color-text-light: #d0d5dd;
    --color-text-contrast: white;
    --color-background: #3c3c3c;
    --color-foreground: #344054;
    --color-highlight: #475467;
    --color-interactive: #667085;
    --color-highlight-layered: #101828b3;
    --color-contrast: #101828;
  }
}

body {
  display: flex;
  flex-flow: row nowrap;
  flex: 1;
  align-items: stretch;
  background-color: var(--color-background);
  font-family: "Roboto", sans-serif;
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
}

button,
select.button,
a.button,
input.button,
input[type="file"].button:before {
  appearance: none;
  cursor: pointer;
  min-height: 2rem;
  box-sizing: border-box;
  padding: 0 1em;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  outline: 0;
  color: var(--color-text);
  background-color: var(--color-foreground);
  line-height: normal;
  text-decoration: none;
  text-align: center;
  font-size: 0.875em;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  user-select: none;
}

button:enabled:hover,
select.button:enabled:hover,
a.button:hover,
input.button:enabled:hover,
input[type="file"].button:hover::before {
  background-color: var(--color-highlight);
}

button:enabled:focus,
select.button:enabled:focus,
a.button:enabled:focus,
input.button:enabled:focus,
input[type="file"].button:enabled:focus:before {
  outline: var(--color-interactive) solid 0.25rem;
}

button:active,
select.button:active,
a.button:active,
input.button:active,
input[type="file"].button:active:before {
  text-decoration: underline;
}

button:disabled,
select.button:disabled,
input.button:disabled,
input[type="file"].button:disabled:before {
  color: var(--color-interactive);
  cursor: unset;
}

a.button {
  display: flex;
  align-items: center;
}

input[type="file"].button:before {
  content: attr(data-label);
  visibility: visible;
  font-size: 1em;
  width: fit-content;
  padding-top: 0.5rem;
}

input[type="file"].button {
  display: flex;
  align-items: center;
  visibility: hidden;
  padding: 0;
  border: 0;
}

textarea {
  background-color: var(--color-background);
  width: 100%;
  display: block;
  color: var(--color-text);
  box-sizing: border-box;
  min-height: 15em;
}

select.button > option {
  text-align: left;
}

select:active option[disabled] {
  display: none;
}

details {
  > summary {
    list-style: none;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    align-items: center;

    &::before {
      content: "";
      flex: 1;
      order: 1;
    }
  }

  & > summary::after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' stroke-width='2' stroke='white' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M15 6l-6 6l6 6' /%3E%3C/svg%3E%0A");
    order: 1;
    height: 1.5em;
  }

  &[open] > summary::after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' stroke-width='2' stroke='white' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M6 9l6 6l6 -6' /%3E%3C/svg%3E%0A");
  }
}

.app {
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex: 1;

  margin: 0.25rem 0.25rem 0.25rem 0;
  border-radius: 0.5rem;
  background-color: #1f2020;
}

a {
  color: var(--color-text);
}

button.is-forwarding,
button.is-forwarding:active,
button.is-forwarding:focus {
  outline: green solid 0.25rem;
}

code {
  font-family: monospace;
}
