.toolbar {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: space-between;

  .toolbar__tabs {
    flex: 1;
    display: flex;
    flex-flow: column;
    align-items: stretch;
    padding: 1rem 0 0 0.25rem;
    gap: 0.25rem;

    label {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;

      border-radius: 0.25rem 0 0 0.25rem;
      padding: 2rem 1.5rem;
      margin-left: 0.25rem;

      text-align: center;

      cursor: pointer;
      user-select: none;

      background-color: var(--accent);

      &:has(:checked) {
        background-color: var(--surface-1);
      }

      svg {
        height: 0.875rem;
        width: 0.875rem;
      }
    }
  }

  input {
    appearance: none;
  }
}
