.toolbar {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: space-between;

  .toolbar__tabs {
    flex: 1;
    display: flex;
    flex-flow: column;
    align-items: stretch;
    padding: 1rem 0 0 0.25rem;
    gap: 0.25rem;

    label {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;

      border-radius: 0.25rem 0 0 0.25rem;
      padding: 2rem 1.5rem;
      margin-left: 0.25rem;

      text-align: center;

      cursor: pointer;
      user-select: none;

      background-color: #282828;

      &:has(:checked) {
        background-color: #1f2020;
      }

      input[value="debugger"] + span {
        &::before,
        &::after {
          content: "";
          display: inline-block;
          position: relative;
          top: -0.65rem;
          border-radius: 100%;
          border: 0.3rem solid transparent;
        }

        &.active::before {
          left: 0.4rem;
          border-color: #916ce7;
        }
        &.inactive::before {
          left: 0.4rem;
          border-color: #c62a1f;
        }

        &::after {
          right: 0.4rem;
        }
      }
    }
  }

  input {
    appearance: none;
  }
}
