body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

form > fieldset {
  max-width: 30rem;
  margin: 0 auto;
  border: 0;

  > label:first-child {
    justify-content: center;
  }
}

fieldset {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  border: solid 1px #e3e3e3;
  margin-bottom: 0.5rem;
  gap: 1rem;
}

h1 {
  background-color: #6738b8;
  color: white;
  text-align: center;
  margin: 0;
  padding: 1em;
}

label {
  display: flex;
  justify-content: space-between;
  line-height: 2em;
  width: 100%;
  cursor: pointer;
}

input[type="text"] {
  flex: 1;
  max-width: 60%;
}

button {
  width: 100%;
  appearance: none;
  cursor: pointer;
  min-height: 2rem;
  box-sizing: border-box;
  padding: 0 1em;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  outline: 0;
  color: white;
  background-color: #6738b8;
  line-height: normal;
  text-decoration: none;
  text-align: center;
  font-size: 0.875em;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

summary {
  cursor: pointer;
}

p {
  margin: 0;
}

a {
  color: #6738b8;
  text-decoration: none;
}

p.status {
  background-color: #039855;
  color: white;
  padding: 1em;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  text-align: center;
}
